{% extends "cookbook/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="mt-24 w-4/5 h-48 bg-orange-200 rounded-lg relative">
        <img src="{% static "img/undraw_special_event.svg" %}" class="absolute banner-svg" width="250" height="250" alt="">
        <div class="w-2/3 absolute banner-title">
            <h1 class="orange-1 font-bold text-2xl">Plan the best meal !</h1>
            <span class="banner-gray text-xs font-thin">FOOD is the ingredient that binds us together 💛</span>
        </div>
        <div class="absolute bottom-0 right-0 p-6">
            <a class="text-sm orange-1 hover:underline" href="{% url 'recipe_create'%}">Create a recipe →</a>
        </div>
    </div>
    <div id="recipe-filter" class="mt-12 w-full">
        <div class="flex justify-between w-4/5">
            <h1 class="text-2xl">Take a brief look at some of the recipes 🍲</h1>
        </div>
        <div class="mt-10 filter w-4/5">
            <div class="flex justify-between" style="height: 120px;">
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('All')" :class="[ selectedCategory == 'All' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-all h-12 w-12"></div>
                    <span class="text-xs font-bold">All</span>
                    <input type="checkbox" name="all" checked class="hidden">
                </div>
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('Pizza')" :class="[ selectedCategory == 'Pizza' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-pizza h-12 w-12"></div>
                    <span class="text-xs font-bold">Pizza</span>
                    <input type="checkbox" name="pizza" class="hidden">
                </div>
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('Asian')" :class="[ selectedCategory == 'Asian' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-asian h-12 w-12"></div>
                    <span class="text-xs font-bold">Asian</span>
                    <input type="checkbox" name="asian" class="hidden">
                </div>
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('Burgers')" :class="[ selectedCategory == 'Burgers' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-burgers h-12 w-12"></div>
                    <span class="text-xs font-bold">Burgers</span>
                    <input type="checkbox" name="burgers" class="hidden">
                </div>
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('Barbecue')" :class="[ selectedCategory == 'Barbecue' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-barbecue h-12 w-12"></div>
                    <span class="text-xs font-bold">BBQ</span>
                    <input type="checkbox" name="barbecue" class="hidden">
                </div>
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('Desserts')" :class="[ selectedCategory == 'Desserts' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-dessert h-12 w-12"></div>
                    <span class="text-xs font-bold">Desserts</span>
                    <input type="checkbox" name="barbecue" class="hidden">
                </div>
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('Thai')" :class="[ selectedCategory == 'Thai' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-thai h-12 w-12"></div>
                    <span class="text-xs font-bold">Thai</span>
                    <input type="checkbox" name="thai" class="hidden">
                </div>
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('Sushi')" :class="[ selectedCategory == 'Sushi' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-sushi h-12 w-12"></div>
                    <span class="text-xs font-bold">Sushi</span>
                    <input type="checkbox" name="sushi" class="hidden">
                </div>
                <div class="filter-icon rounded-full text-center mr-4 shadow-xl" @click="selectCategory('Others')" :class="[ selectedCategory == 'Others' ? 'filter-active' : '' ]">
                    <div class="rounded-full icon-other h-12 w-12"></div>
                    <span class="text-xs font-bold">Others</span>
                    <input type="checkbox" name="other" class="hidden">
                </div>
            </div>
        </div>
        <div class="recipe-list my-16 w-4/5">
            <ul class="flex flex-wrap justify-between">
                <li class="w-64 my-4" v-for="recipe in recipes">
                    <a :href="'/recipes/' + recipe.id">
                        <div class="overflow-hidden">
                            <div class="relative">
                                <img class="list-image object-cover" :src="[[ recipe.image ]]" alt="">
                                <div class="inline-block absolute bottom-0 bg-gray-100 p-2 rounded-tr-lg text-sm font-bold">
                                    <span>[[ recipe.time ]] </span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <h4 class="font-extrabold">[[ recipe.name ]]</h4>
                            <div class="flex items-center justify-between w-full">
                                <div class="flex items-center" v-if="recipe.difficulty == 1">
                                    <i class="material-icons text-base mr-1 text-green-500">signal_cellular_alt</i>
                                    <span class="text-xs">Easy</span>
                                </div>
                                <div class="flex items-center" v-if="recipe.difficulty == 2">
                                    <i class="material-icons text-base mr-1 text-yellow-500">signal_cellular_alt</i>
                                    <span class="text-xs">Normal</span>
                                </div>
                                <div class="flex items-center" v-if="recipe.difficulty == 3">
                                    <i class="material-icons text-base mr-1 text-red-500">signal_cellular_alt</i>
                                    <span class="text-xs">Hard</span>
                                </div>
                                <div class="flex items-center" v-if="recipe.difficulty == 4">
                                    <i class="material-icons text-base mr-1 text-black">signal_cellular_alt</i>
                                    <span class="text-xs">Expert</span>
                                </div>
                                <div class="gray">
                                    <span>[[ recipe.category ]]</span>
                                    <span>·</span>
                                    <span v-if="recipe.cost <= 10">€</span>
                                    <span v-if="recipe.cost > 10 && recipe.cost < 30">€€</span>
                                    <span v-if="recipe.cost > 30">€€€</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        const app = new Vue({
            el: document.getElementById('recipe-filter'),
            delimiters: ['[[', ']]'],
            data: {
                selectedCategory: 'All',
                recipes: null
            },
            methods: {
                async getRecipes() {
                    const request = await fetch(`recipes/category/${this.selectedCategory}`)
                    const data = await request.json()
                    this.recipes = data.recipes
                },
                selectCategory(category) {
                    this.selectedCategory = category
                    this.getRecipes()
                },
            },
            created() {
                this.getRecipes()
            }
        })
    </script>

{% endblock content %}