{% extends "cookbook/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="mt-24 p-12 flex justify-between bg-orange-200 rounded-lg relative">
        <a href="#" class="absolute right-0 top-0 p-2 text-sm flex items-center">
            <i class="material-icons orange-1">edit</i>
            <span class="mr-1 underline">Change recipe</span>
        </a>
        <h1 class="text-3xl">{{ recipe.name }}</h1>
        <ul class="w-1/2 mx-auto my-auto">
            <li class="p-4 flex align-middle mx-auto">
                <i class="material-icons mr-2 orange-1">access_time</i>
                <span>{{ recipe.get_time }}</span>
            </li>
            <li class="p-4 flex align-middle mx-auto">
                <i class="material-icons mr-2 orange-1">person_outline</i>
                <span>{{ recipe.servings }}</span>
            </li>
            <li class="p-4 flex align-middle mx-auto">
                <i class="material-icons mr-2 orange-1">euro</i>
                <span>{{ recipe.get_overral_cost }}</span>
            </li>
        </ul>
        <img src="{{ recipe.image }}" alt="" class="rounded-lg">
    </div>
    <article class="-mt-4 rounded-full h-32 w-full bg-white p-8">
        <section class="mb-8">
            <h2 class="text-xl font-bold mb-4">Description</h2>
            <p>{{ recipe.description }}</p>
        </section>
        <section class="mb-8">
            <h2 class="text-xl font-bold mb-4">Ingredients</h2>
            <ul class="list-disc p-4">
                {% for used_ingredient in recipe.get_ingredients_usage %}
                    <li class="">
                        {{ used_ingredient.ingredient.name }} - {{ used_ingredient.amount_used }} {{ used_ingredient.ingredient.unit }}
                    </li>
                {% endfor%}
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="text-xl font-bold mb-4">Instructions</h2>
            <p>{{ recipe.instructions }}</p>
        </section>
    </article>
{% endblock content %}
