{% extends "cookbook/base.html" %}

{% block content %}
    <div class="mt-24 p-12 flex justify-between bg-orange-200 rounded-lg relative">
        <button class="absolute right-0 top-0 p-2 text-sm flex items-center" onclick="openModal()">
            <i class="material-icons orange-1">delete_forever</i>
            <span class="mr-1 underline">Delete recipe</span>
        </button>
        <a href="#" class="absolute right-0 top-0 p-2 text-sm flex items-center mr-32">
            <i class="material-icons orange-1">edit</i>
            <span class="mr-1 underline">Change recipe</span>
        </a>
        <h1 class="text-3xl">{{ recipe.name }}</h1>
        <ul class="w-1/2 mx-auto my-auto">
            <li class="p-4 flex align-middle mx-auto">
                <i class="material-icons mr-2 orange-1">access_time</i>
                <span>{{ recipe.get_time }}</span>
            </li>
            <li class="p-4 flex align-middle mx-auto">
                <i class="material-icons mr-2 orange-1">person_outline</i>
                <span>{{ recipe.servings }}</span>
            </li>
            <li class="p-4 flex align-middle mx-auto">
                <i class="material-icons mr-2 orange-1">euro</i>
                <span>{{ recipe.get_overral_cost }}</span>
            </li>
        </ul>
        <img src="{{ recipe.image }}" alt="" class="w-1/2 rounded-lg object-cover">
    </div>
    <article class="-mt-4 rounded-full h-32 w-full bg-white p-8">
        <section class="mb-8">
            <h2 class="text-xl font-bold mb-4">Description</h2>
            <p>{{ recipe.description }}</p>
        </section>
        <section class="mb-8">
            <h2 class="text-xl font-bold mb-4">Ingredients</h2>
            <ul class="list-disc p-4">
                {% for used_ingredient in recipe.get_ingredients_usage %}
                    <li class="">
                        {{ used_ingredient.ingredient.name }} - {{ used_ingredient.amount_used }} {{ used_ingredient.ingredient.unit }}
                    </li>
                {% endfor%}
            </ul>
        </section>
        <section class="mb-8">
            <h2 class="text-xl font-bold mb-4">Instructions</h2>
            <p>{{ recipe.instructions }}</p>
        </section>
    </article>
    <div id="deleteModal" class="hidden fixed left-0 top-0 w-full h-full overflow-auto bg-black">
        <div class="bg-white my-24 mx-auto p-8 w-1/3 h-48">
            <button class="float-right" onclick="closeModal()">
                <i class="material-icons">close</i>
            </button>
            <p>Are you sure you want to do this?</p>
            <form action="{% url 'recipe_delete' pk=recipe.id %}" method="POST" class="w-full flex items-center justify-between mt-12">
                {% csrf_token %}
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border-green-700 rounded" type="button" onclick="closeModal()">
                    No, go back
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border-red-700 rounded" type="submit">
                    Yes, delete it
                </button>
            </form>
        </div>
    </div>
    <script>
        const modal = document.getElementById("deleteModal");
        const openModal = () => modal.classList.remove('hidden')
        const closeModal = () => modal.classList.add('hidden')
        window.onclick = (event) => {
            if (event.target == modal)
                closeModal()
        }
    </script>
{% endblock content %}
